body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: white;
}

/* animación que hace que caigan */
@keyframes fall {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(130vh);
  }
}

.heart {
  position: absolute;
  top: -120px;
  pointer-events: none;
  animation: fall linear infinite;
}

/* capas */
.layer-back {
  opacity: 0.35;
  filter: blur(1.4px);
}

.layer-mid {
  opacity: 0.55;
  filter: blur(0.7px);
}

.layer-front {
  opacity: 0.85;
  filter: blur(0px);
}
